<div class="wrapper">
    <!-- navbar -->
    <app-navbar></app-navbar>

    <!-- sidebar -->
    <app-sidebar></app-sidebar>

     <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    
    <!-- content -->
 </div>

 <!-- footer -->
  <!-- /.content-wrapper -->
 <app-footer></app-footer>

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


</div>